<h1>
	<strong>All Requests JSON</strong>
</h1>

<br class="Clear">

<button class="btn btn-success"
		ng-click="getAllProducts()">
		&nbsp;GET ALL PRODUCTS
</button>

<button class="btn btn-success"
		ng-click="getAllImages()">
		&nbsp;GET ALL IMAGES
</button>

<br /><br /><br />

<div class="form-group">
	<label class="control-label" for="identification"> ID </label>
	<input id="identification" type="text" ng-model="id" number-only/>
</div>

<button class="btn btn-success"
		ng-click="getProductById(id)"
		ng-disabled="!id">
		&nbsp;GET PRODUCT BY ID
</button>

<button class="btn btn-success"
		ng-click="getImageById(id)"
		ng-disabled="!id">
		&nbsp;GET IMAGE BY ID
</button>

<br /><br />

<div class="panel panel-primary">
	<div class="panel-heading">JSON Response</div>
	<div class="panel-body">
		<table class="table table-hover">
			<tbody>
				<tr>
					<td style="word-wrap: break-word">{{outputJson}}</td>
				</tr>
			</tbody>
		</table>			
	</div>
</div>
