<!-- IMPL -->
<center>
 <h1><strong>Welcome to products manager!</strong></h1>
 <p class="lead">Click the menu to start product management</p>
 <ul class="list-unstyled">
     <li><strong>v1.0.0</strong></li>
     <li>Author: Filipe Souza Sabino Gomes</li>
 </ul>
</center>