<h1>
	<strong>{{isEdition ? 'Update' : 'Register'}} Product</strong>
</h1>

<form ng-submit="submit()" enctype="multipart/form-data">

	<div class="panel panel-primary">
		<div class="panel-heading">Basic Information</div>
		<div class="panel-body">
			<div class="form-group">
				<label class="control-label" for="name"> Name </label> <input
					class="form-control" id="name" name="name" type="text"
					ng-model="dto.name" required/>
			</div>
			<div class="form-group">
				<!-- Message input !-->
				<label class="control-label " for="description">Description</label>
				<textarea class="form-control noresize" id="description"
					name="description" rows="3" ng-model="dto.description"></textarea>
			</div>
		</div>
	</div>

	<div class="panel panel-primary">
		<div class="panel-heading">Select Product Images</div>
		<div class="panel-body">
			<file-field ng-model="uploadFile" preview="previewImage"
				ng-hide="uploadFile"> <span
				class="glyphicon glyphicon-upload"></span>&nbsp;Select Image</file-field>
			<img ng-src="{{previewImage}}" height="150px"
				ng-show="uploadFile" />
			<button class="btn btn-success" name="selectImage" type="button"
				ng-click="addImage()" ng-show="uploadFile">
				<span class="glyphicon glyphicon-plus"></span>&nbsp;Add
			</button>
			<button class="btn btn-danger" name="selectImage" type="button"
				ng-click="cancelImage()" ng-show="uploadFile">
				<span class="glyphicon glyphicon-remove"></span>&nbsp;Cancel
			</button>

			<table class="table table-hover">
				<thead>
					<tr>
						<th>Images Selected</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><span ng-repeat="image in dto.images" ng-show="dto.images.length >= 1"
							style="padding: 5px;"> 
<!-- 								<img ng-src="data:image/JPEG;base64,{{image.preview}}" height="110px" ng-show="isEdition"/> -->
								<img ng-src="{{image.preview}}" height="110px"/>
								<button class="btn btn-danger btn-xs" type="button"
									ng-click="removeImage($index)">
									<span class="glyphicon glyphicon-minus"></span>
								</button>
						</span>
						<span ng-show="dto.images.length == 0">No image added.</span>
						</td>
					</tr>
				</tbody>
			</table>
			
		</div>
	</div>

	<button class="btn btn-primary" name="clean" type="button" ng-click="loadProductsPanel()">
		<span class="glyphicon glyphicon-chevron-down" ng-show="!showProductsPanel"></span>
		<span class="glyphicon glyphicon-refresh" ng-show="showProductsPanel"></span>
		<span ng-show="!showProductsPanel">&nbsp;Associate Product(s)</span>
		<span ng-show="showProductsPanel">&nbsp;Refresh Product(s)</span>		
	</button>
	
	<br /><br />

	<div class="panel panel-default" ng-show="showProductsPanel">
		<div class="panel-heading">
			<h4>
				<small>Products to Associate</small><br />
				<span ng-show="productsToSelect.length >= 1">Parent product: <strong>{{dto.name ? dto.name : 'No product name have been entered yet' | uppercase}}</strong></span>
			</h4>
		</div>
		<div class="panel-body">
			
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Check</th>
						<th>Id</th>
						<th>Name</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="product in productsToSelect" ng-show="productsToSelect.length >= 1">
						<td><input type="checkbox" ng-model="product.checked" /></td>
						<td>{{product.id}}</td>
						<td>{{product.name}}</td>
						<td>{{product.description}}</td>
					</tr>
					<tr ng-show="productsToSelect.length < 1">
						<td colspan="3">No products were found.</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="form-group">		
		<button class="btn btn-default" name="clean" type="button" ng-click="backToSearch()" ng-show="isEdition">
			<span class="glyphicon glyphicon-arrow-left"></span>&nbsp;Back
		</button>
		<!-- Submit button !-->
		<button class="btn btn-primary" name="submit" type="submit">
			<span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;{{!isEdition ? 'Save' : 'Update'}}
		</button>
		<button class="btn btn-danger" name="clean" type="button" ng-click="cleanForm()">
			<span class="glyphicon glyphicon-erase"></span>&nbsp;Clean
		</button>		
	</div>
	
</form>